
    <table>
        <thead>

            <tr>
                <td>appointment id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>/td>
            </tr>
        </thead>
        
        <% for (let i=0; i < appointments.length; i++){ %>
            <tbody>

                <tr>
                    <td><%= appointments[i].id %></td>
                    <td><%= appointments[i].patient_first %></td>
                    <td><%= appointments[i].patient_last %></td>
                    <td><%= appointments[i].age %></td>
                    <td><%= appointments[i].weight %></td>
                    <td><%= appointments[i].gender %></td>
                    <td><%= appointments[i].ethnicity %></td>
                    <td><%= appointments[i].next_of_kin %></td>
                    <td><%= appointments[i].blood_type %></td>
                    <td><%= appointments[i].misc %></td>
                    <td><%= appointments[i].insurance %></td>
                    <td><%= appointments[i].bank_info %></td>
                    <td><%= appointments[i].email %></td>
                    <br>
                    <td><%= appointments[i].first_name %></td>
                    <td><%= appointments[i].last_name %></td>
                    <td><%= appointments[i].specialty %></td>
                    <td><%= appointments[i].concernrs %></td>

                </tr>
            </tbody>
        <% } %>
    </table>