<%- include('./partials/header') %>
<ul class="list-group list-group-flush">
    appointmnet id
    <li class="list-group-item"><%= data.id %></li>
    <li class="list-group-item"><%= data.first_name %></li>
    <li class="list-group-item"><%= data.last_name %></li>
    <li class="list-group-item"><%= data.age %></li>
    <li class="list-group-item"><%= data.gender %></li>
    <li class="list-group-item"><%= data.weight %></li>
    <li class="list-group-item"><%= data.ethnicity %></li>
    <li class="list-group-item"><%= data.next_of_kin %></li>
    <li class="list-group-item"><%= data.blood_type %></li>
    <li class="list-group-item"><%= data.email %></li>
    <li class="list-group-item"><%= data.insurance %></li>
    <li class="list-group-item"><%= data.bank_info %></li>
    <li class="list-group-item"><%= data.doctor_first %></li>
    <li class="list-group-item"><%= data.doctor_last %></li>
    <li class="list-group-item"><%= data.specialty %></li>
    <li class="list-group-item"><%= data.concern %></li>
</ul>

<%- include('./partials/footer') %>